$deep-color: #000;
$content-fontColor: #333;
$media-fontColor: #666;
$light-fontColor: #999;
$content-bgColor: #F1F1F1;
$content-notice-fontColor: #777;
$btnColor: #fff;
$bgColor: #F5F5F5;
$highlightColor: #E93B3B;
$btn-bgColor: #0091FF;